@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background-color: rgb(221, 160, 90);
    font-size: 16px;
    font-weight: normal;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
} 
.ava{
    width: 300px;
    height: 250px;
    border-radius: 28px ;
    box-shadow: 4px 4px 14px rgb(26, 22, 22);
}

.inform p {
    color: rgb(107, 38, 6);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.husk{
    width: 300px;
    height: 250px;
    border-radius: 28px ;
    box-shadow: 4px 4px 14px rgb(26, 22, 22);
}
.haski p {
    color: rgb(107, 38, 6);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.container{ 
    margin: 200px;
    display: flex;
    justify-content: space-evenly;
}